#root-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.board-actions {
    display: flex;
    gap: 1rem;
    align-items: center;
}

main {
    padding: 24px; /* Add padding around main content */
}

footer {
    color: var(--secondary-gray); /* Apply gray color to footer text */
}
